@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.014);
    position: fixed;
    top: 0;
    z-index: 2;
    color: $secondary-color;
    transition: all 1s ease;

    .logo{
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: $secondary-color;
        transition: all 1s ease;
    }

    .inside{
        margin: 1px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            display: flex;
            
        }

        .right{
            display: flex;
            flex-direction: row;

            .itemcontainer{
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 700;
                margin-right: 4rem;
            }
            .hamburger{
                height: 26px;
                width: 32px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 20px;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 4px;
                    background-color: $secondary-color;
                    transform-origin: left;
                    transition: all 1.5s ease;
                }
            }
        }
    }

    &.active{
        background-color: $secondary-color;
        color: white;

        .logo{
            color: white;
        }

        .hamburger{
            span{

                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    background-color: white;
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
