@import "../../global.scss";
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 214, 212);
    display: flex;

    h1{
        font-size: 50px;
        margin: 5rem 0 1rem 0;
        font-weight: 600;
    }
    .inside{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid black;
        width: 80vw;
        border-radius: 0.5rem;

        .imgcontainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            flex: 1;
            
            .img{
                flex: 1;
                height: 300px;
                width: 300px;
                margin-right: 8rem;
                border-radius: 0.5rem;
            }
        }

        .content{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            .para{
                width: 70%;
                font-size: 20px;
                padding: 3rem 2rem;
                margin: 3rem 7rem 1rem 0;
                
                border-radius: 10px;
                color: $secondary-color;
            }
            }
            
        
    }
    
}