.app{
    height: 100vh;
    width: 100%;
    .sections{
        width: 100%;
        height: calc(100vh);
        position: relative;
        top: 0;
        background-color:black;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    
    > *{
        width: 100%;
        height: calc(100vh);
        scroll-snap-align: start;
    }
}
}